<div
  class="grid mr-4 ml-4 md:flex md:flex-row bg-gray-100 rounded-badge md:mx-4 mb-36"
>
  <div class="basis-1/2 px-4 md:px-24 pt-3 pb-3">
    <img src="/assets/img/Group 10353@2x.png" alt="" class="md:h-96 w-auto" />
  </div>
  <div class="px-4 md:px-8 pt-14">
    <div class="text-3xl font-bold text-center md:text-right">
      <span class="text-red-600">TOBANK،</span>
      <span class="text-black">یک شعبه مجازی همراه شماست!</span>
    </div>
    <br />
    <div class="text-lg text-justify pt-12">
      <p>روی گوشیت حساب باز کن!</p>
      <p>
        از احراز هویت آنلاین و افتتاح سپرده آنی گرفته تا صندوق سرمایه‌گذاری و
      </p>
      <p>ثبت‌نام وام ازدواج.</p>
      <p>خدمتی از شرکت دانش بنیان وایده پردازدانش نوین آرشام،زیرمجموعه بانک</p>
      <p>گردشگری.</p>
    </div>
    <div class="grid md:flex pt-10 pb-1.5">
      <div>
        <button
          class="flex bg-red-600 hover:bg-red-400 rounded-md text-white m-7 p-2"
        >
          <img
            src="/assets/icon/icons8-download-50.png"
            alt=""
            class="w-5 h-5 ml-2"
          />
          <span>دانلود اپلیکشن</span>
        </button>
      </div>

      <button class="m-7 p-3">
        <div class="flex">
          <span>چطور کار میکند؟</span>
          <img src="/assets/icon/icons8-back-to-50.png" class="w-5 h-5 mr-2" />
        </div>
      </button>
    </div>
  </div>
</div>
