<div class="flex flex-row bg-slate-300 p-12 m-16 rounded-badge">
  <div class="basis-1/2 self-center">
    <p class="text-4xl font-bold text-justify -space-x-11">
      <span class="text-red-600">TOBANK</span>
      ،یک شعبه مجازی همراه شماست!
    </p>
    <br />
    <div class="text-l text-justify">
      <p>روی گوشیت حساب باز کن!</p>
      <p>
        از احراز هویت آنلاین و افتتاح سپرده آنی گرفته تا صندوق سرمایه‌گذاری و
        ثبت‌نام وام ازدواج.
      </p>
      <p>
        خدمتی از شرکت دانش‌بنیان ایده پرداز دانش نوین آرشام، زیر‌مجموعه بانک
        گردشگری.
      </p>
    </div>
  </div>
  <div class="basis-1/2">
    <img src="/assets/img/Group 10353@2x.png" alt="" class="w-auto h-full" />
  </div>
</div>
