<div
  class="demo grid md:flex flex-row rounded-badge pt-6 pr-16 pb-10 my-28 mx-4"
>
  <div class="basis-1/3 md:mr-0 -mr-8">
    <div class="flex flex-row p-4">
      <img src="/assets/img/Frame%2020.svg" class="md:px-2" />
      <p class="text-white font-bold md:p-2">دریافت نسخه IOS</p>
      <br />
    </div>
    <div class="flex flex-row">
      <div class="pl-5 mb-5">
        <a href="https://anardoni.com/ios/app/yF0s1kwml">
          <img src="/assets/img/Group%2010379.svg" alt=""
        /></a>
      </div>

      <div class="pl-5 mb-5">
        <a href="https://sibapp.com/applications/tobank">
          <img src="/assets/img/Group%2010378.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="pl-5 mb-5">
        <a
          href="https://sibche.com/applications/gardesh-pay-1?utm_source=%DA%AF%D8%B1%D8%AF%D8%B4%20%D9%BE%DB%8C&utm_medium=referral&utm_campaign=download_badge"
        >
          <img src="/assets/img/Group%2010380.svg" alt=""
        /></a>
      </div>

      <div class="pl-5 mb-5">
        <a
          href="https://sibapp.com/applications/download/a2717ef7-37ad-4bab-abcc-ea459d227596"
        >
          <img src="/assets/img/Group%2010377.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
  <div class="basis-1/3 md:mr-0 -mr-8">
    <div class="flex flex-row p-4">
      <img src="/assets/img/Frame%2019.svg" class="px-2" />
      <p class="text-white font-bold p-2">دریافت نسخه اندروید</p>
    </div>
    <div class="flex flex-row" dir="rtl">
      <div class="pl-5 mb-5">
        <a href="https://myket.ir/app/com.gardeshpay.app">
          <img src="/assets/img/Group%2010381.png" alt=""
        /></a>
      </div>

      <div class="pl-5 mb-5">
        <a
          href="https://play.google.com/store/apps/details?id=com.gardeshpay.app"
        >
          <img src="/assets/img/Group%2010385.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="pl-5 mb-5">
        <a href="https://cafebazaar.ir/app/com.gardeshpay.app">
          <img src="/assets/img/Group%2010382.png" alt=""
        /></a>
      </div>

      <div class="pl-5 mb-5">
        <a href="https://download.tobank.ir/TOBANK-arm64-v8a-2.9.25.apk">
          <img src="/assets/img/Group%2010350.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
  <div class="self-center">
    <div class="text-center bg-white rounded-md self-center w-4/5 md:w-auto">
      <div class="flex mt-10 md:mr-0 -mr-8">
        <img
          src="/assets/icon/icons8-info-50.png"
          alt=""
          class="bg-white w-6 h-6 md:mx-3"
        />
        <span> راهنمای دانلود نسخه مستقیم ios</span>
      </div>
    </div>
  </div>
</div>
