<div class="grid md:flex flex-row px-6 mt-20 mb-32">
  <div class="basis-1/2">
    <img src="/assets/img/Gift%20Card.webp" alt="" class="" />
  </div>
  <div class="basis-1/2 self-center md:pr-56">
    <p class="font-bold text-center text-xl font-bold ml-2">
      هدیه‌ای مناسب برای دوستانتان !
    </p>
    <br />
    <div class="text-center text-gray-600 text-xl">
      کارت هدیه خودتو شخصی‌سازی کن و با تصویر و متن دلخواه سفارش بده. به علاوه
      می‌تونی از طرح‌های متنوع و آماده هم استفاده کنی
    </div>
  </div>
</div>
