<div class="flex flex-row m16 p-12">
  <div class="basis-1/2 self-center">
    <p class="font-normal text-center text-3xl font-bold">
      هدیه‌ای مناسب برای دوستانتان !
    </p>
    <br />
    <div class="text-center">
      <p>کارت هدیه خودتو شخصی‌سازی کن و با تصویر</p>
      <p>و متن دلخواه سفارش بده. به علاوه می‌تونی از</p>
      <p>طرح‌های متنوع و آماده هم استفاده کنی</p>
    </div>
  </div>
  <div class="basis-1/2">
    <img src="/assets/img/Gift%20Card.webp" alt="" class="w-auto h-full" />
  </div>
</div>
