<div class="flex bg-slate-300 p-12 m-16 rounded-badge" dir="rtl">
  <div class="basis-1/2">
    <div class="text-center text-3xl font-bold">باشگاه مشتریان</div>
    <br />
    <div class="text-center">نحوه دریافت امتیاز</div>
    <br />
    <div class="flex flex-row" dir="rtl">
      <div class="basis-1/2 bg-white rounded-md text-sm m-2">
        <img src="/assets/img/user-add.png" alt="" />
        عضویت و نصب اپلیکشن
      </div>
      <div class="basis-1/2 bg-white rounded-md text-sm m-2">
        <img src="/assets/img/card-tick.png" alt="" />
        صدور کارت بانکی هواداری
      </div>
    </div>
    <div class="flex flex-row" dir="rtl">
      <div class="basis-1/2 bg-white rounded-md text-sm m-2">
        <img src="/assets/img/cup.png" alt="" />
        پیش بینی صحیح مسابقات فوتبال
      </div>
      <div class="basis-1/2 bg-white rounded-md text-sm m-2">
        <img src="/assets/img/cards.png" alt="" />
        کارت به کارت از مبدابانک گردشگری
      </div>
    </div>
    <div class="flex flex-row" dir="rtl">
      <div class="basis-1/2 bg-white rounded-md text-sm m-2">
        <img src="/assets/img/cards.png" alt="" />
        کارت به کارت از مبدا سایر بانک ها
      </div>
      <div class="basis-1/2 bg-white rounded-md text-sm m-2">
        <img src="/assets/img/receipt.png" alt="" />
        پرداخت قبوض در TOBANK
      </div>
    </div>
    <div class="flex flex-row" dir="rtl">
      <div class="basis-1/2 bg-white rounded-md text-sm m-2">
        <img src="/assets/img/global.png" alt="" />
        خرید بسته اینترنتی
      </div>
      <div class="basis-1/2 bg-white rounded-md text-sm m-2">
        <img src="/assets/img/simcard.png" alt="" />
        خرید شارژ سیم کارت
      </div>
    </div>
  </div>
  <div class="basis-1/2 p-10">
    <img src="/assets/img/newcustomer%20(1).webp" alt="" />
  </div>
</div>
