<div
  class="grid md:flex bg-gray-100 mr-4 ml-4 md:pr-16 md:pl-16 rounded-badge md:mx-4 mb-36"
>
  <div class="md:mr-8 md:-ml-16">
    <div class="p-4">
      <div class="text-center text-xl font-bold pt-0 pb-5">
        باشگاه مشتریان TOBANK
      </div>
      <br />
      <div class="flex md:pr-48 pb-10 mr-10 md:mr-0">
        <img src="/assets/img/medal-star.png" />
        <div class="text-center font-semibold">نحوه دریافت امتیاز</div>
      </div>
      <div
        class="grid gap-8 grid-cols-1 md:grid-cols-2 md:grid-rows-2 text-sm md:mr-4"
      >
        <span class="flex bg-white rounded-md"
          ><img src="/assets/img/user-add.png" alt="" class="p-4" />
          <p class="self-center pl-5">عضویت و نصب اپلیکشن</p></span
        >
        <span class="flex bg-white rounded-md"
          ><img src="/assets/img/card-tick.png" alt="" class="p-4" />
          <p class="self-center">صدور کارت بانکی هواداری</p></span
        >
        <span class="flex bg-white rounded-md"
          ><img src="/assets/img/cup.png" alt="" class="p-4" />
          <p class="self-center">پیش بینی صحیح مسابقات فوتبال</p></span
        >
        <span class="flex bg-white rounded-md"
          ><img src="/assets/img/cards.png" alt="" class="p-4" />
          <p class="self-center">کارت به کارت از مبدابانک گردشگری</p></span
        >
        <span class="flex bg-white rounded-md">
          <img src="/assets/img/cards.png" alt="" class="p-4" />
          <p class="self-center">کارت به کارت از مبدا سایر بانک ها</p></span
        >
        <span class="flex bg-white rounded-md"
          ><img src="/assets/img/receipt.png" alt="" class="p-4" />
          <p class="self-center">پرداخت قبوض در TOBANK</p></span
        >
        <span class="flex bg-white rounded-md"
          ><img src="/assets/img/global.png" alt="" class="p-4" />
          <p class="self-center text-center">خرید بسته اینترنتی</p></span
        >
        <span class="flex bg-white rounded-md"
          ><img src="/assets/img/simcard.png" alt="" class="p-4" />
          <p class="self-center text-center">خرید شارژ سیم کارت</p></span
        >
      </div>
    </div>
  </div>

  <div class="basis-1/2 pr-10 md:pr-40 md:pl-0 pt-4">
    <img
      src="/assets/img/newcustomer%20(1).webp"
      alt=""
      class="md:w-64 pb-20"
    />
  </div>
</div>
