<div class="flex flex-row m-16 p-12">
  <div class="basis-1/2 self-center" dir="rtl">
    <p class="font-normal text-center text-3xl font-bold">شعبه شخصی</p>
    <br />
    <div class="flex flex-row" dir="rtl">
      <div class="basis-1/2 border-r-4 border-red-700 p-2 text-md font-bold">
        افتتاح انواع سپرده جدید
      </div>
      <div class="basis-1/2 border-r-4 border-red-700 p-2 text-md font-bold">
        لیست سپرده‌ها و کارت‌ها
      </div>
    </div>
    <br />
    <div class="flex flex-row" dir="rtl">
      <div class="basis-1/2 border-r-4 border-red-700 p-2 text-md font-bold">
        انتقال هوشمند درون بانکی، پایا و ساتنا
      </div>
      <div class="basis-1/2 border-r-4 border-red-700 p-2 text-md font-bold">
        تسهیلات قرض الحسنه ازدواج
      </div>
    </div>
  </div>
  <div class="basis-1/2">
    <img src="/assets/img/شعبه%20شخصی@2x.svg" alt="" class="w-auto h-full" />
  </div>
</div>
