<div class="grid md:flex flex-row mx-8">
  <div class="lg:mr-8">
    <img src="/assets/img/شعبه%20شخصی@2x.svg" alt="" class="md:w-96 pr-2" />
  </div>
  <div class="self-center md:pr-8 md:mr-14">
    <p class="text-3xl font-bold mb-16">
      شعبه شخصی<span class="text-red-600">TOBANK</span>
    </p>
    <br />

    <div class="grid gap-4 grid-cols-1 lg:grid-cols-2 grid-rows-2">
      <div class="border-r-4 pl-4 pr-3 text-lg font-bold mb-10">
        افتتاح انواع سپرده جدید
      </div>
      <div class="border-r-4 spase-x-10 pl-8 pr-3 text-lg font-bold mb-10">
        لیست سپرده‌ها و کارت‌ها
      </div>
      <div class="border-r-4 space-x-10 pl-8 pr-3 text-lg font-bold mb-10">
        انتقال هوشمند درون بانکی، پایا و ساتنا
      </div>
      <div class="space-x-10 border-r-4 pl-8 pr-3 text-lg font-bold mb-10">
        تسهیلات قرض الحسنه ازدواج
      </div>
    </div>
  </div>
</div>
