<div class="">
  <div class="mt-20">
    <div class="mr-3">
      <div class="text-center text-xl font-bold mb-16">خدماتTOBANK</div>
      <div class="">
        <div
          class="inline-grid grid-cols-2 md:grid-cols-4 gap-x-14 gap-y-10 md:space-x-24"
        >
          <div class="flex flex-none w-30 h-8 gap-x-2 font-bold text-sm">
            <img src="/assets/img/Group%2010364.svg" alt="" />
            <span>شعبه مجازی</span>
          </div>
          <div class="flex flex-none w-30 h-8 gap-x-2 font-bold text-sm">
            <img src="/assets/img/Group%2010362.svg" alt="" />
            <span>مشاوره مالی</span>
          </div>
          <div class="flex flex-none w-30 h-8 gap-x-4 font-bold text-sm">
            <img src="/assets/img/Group%2010359.svg" alt="" />
            <span>بیمه مسافرتی</span>
          </div>
          <div class="flex flex-none w-30 h-8 gap-x-4 font-bold text-sm">
            <img src="/assets/img/Group%2010357.svg" alt="" />
            <span>کارت هدیه</span>
          </div>
          <div class="flex flex-none w-30 h-8 gap-x-4 font-bold text-sm">
            <img src="/assets/img/Group%2010365.svg" alt="" />
            <span>نیکو کاری</span>
          </div>
          <div class="flex flex-none w-30 h-8 gap-x-4 font-bold text-sm">
            <img src="/assets/img/Group%2010363.svg" alt="" />
            <span> خدمات خودرو</span>
          </div>
          <div class="flex flex-none w-30 h-8 gap-x-4 font-bold text-sm">
            <img src="/assets/img/Group%2010361.svg" alt="" />
            <span> کارناوال</span>
          </div>
          <div class="flex flex-none w-30 h-8 gap-x-4 font-bold text-sm">
            <img src="/assets/img/Group%2010356.svg" alt="" />
            <span>پرداخت قبوض</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
