<div class="m-16 p-12">
  <div class="text-center text-3xl font-bold">TOBANK خدمات</div>
  <br />
  <div class="flex flex-row" dir="rtl">
    <div class="basis-1/4">
      <img src="/assets/img/Group%2010364.svg" alt="" />
      شعبه مجازی
    </div>
    <div class="basis-1/4">
      <img src="/assets/img/Group%2010362.svg" alt="" />
      مشاوره مالی
    </div>
    <div class="basis-1/4">
      <img src="/assets/img/Group%2010359.svg" alt="" />
      بیمه مسافرتی
    </div>
    <div class="basis-1/4">
      <img src="/assets/img/Group%2010357.svg" alt="" />
      کارت هدیه
    </div>
  </div>
  <div class="flex flex-row" dir="rtl">
    <div class="basis-1/4">
      <img src="/assets/img/Group%2010365.svg" alt="" />
      نیکو کاری
    </div>
    <div class="basis-1/4">
      <img src="/assets/img/Group%2010363.svg" alt="" />
      خدمات خودرو
    </div>
    <div class="basis-1/4">
      <img src="/assets/img/Group%2010361.svg" alt="" />
      کارناوال
    </div>
    <div class="basis-1/4">
      <img src="/assets/img/Group%2010356.svg" alt="" />
      پرداخت قبوض
    </div>
  </div>
</div>
