<div class="bg-gray-300 m-10 divide-y divide-gray-400">
  <p class="font-bold p-6">TOBANK، یک شعبه مجازی همراه شماست!</p>

  <div class="flex flex-row">
    <div class="m-10">
      <p class="font-bold">ارتباط با ما</p>
      <div class="p-2">تهران،سعادت آباد، بلوار فرهنگ، نبش کوچه نور، پلاک 6</div>
      <div>021-23950 / داخلی 7</div>
      <div>info@tobank.ir</div>
    </div>
    <div class="m-10">
      <p class="font-bold basis-1/4">لینک‌های مهم</p>
      <div>گردش پی</div>
    </div>
    <div class="m-10">
      <p class="font-bold">دسترسی سریع</p>
      <div>قوانین و مقررات</div>
      <div>سوالات متداول</div>
      <div>تماس با ما</div>
    </div>
    <div class="m-10">
      <p class="font-bold basis-1/4">مجوز‌‌های ما</p>
    </div>
  </div>
</div>
