<div class="bg-gray-100">
  <div class="divide-y divide-gray-200">
    <div class="grid text-center md:flex">
      <img
        src="/assets/img/tobank-logo.svg"
        class="md:pr-2 w-52 md:py-14 pt-10 mr-28 md:mr-0"
      />
      <span class="font-bold py-14 pr-10"
        >TOBANK، یک شعبه مجازی همراه شماست!</span
      >
    </div>
    <div class="grid md:flex flex-row text-center md:text-right">
      <div class="m-10">
        <p class="font-bold text-sm p-4">ارتباط با ما</p>
        <div class="flex text-center">
          <img src="/assets/icon/icons8-location-24.png" class="w-5 h-5 mt-2" />
          <div class="p-2">
            <p class="text-sm">
              تهران،سعادت آباد، بلوار فرهنگ، نبش کوچه نور، پلاک 6
            </p>
          </div>
        </div>
        <div class="flex mr-20 md:mr-0">
          <img src="/assets/icon/icons8-phone-24.png" class="w-5 h-5 mt-2" />
          <div class="md:p-2 text-sm text-center">021-23950 / داخلی 7</div>
        </div>
        <div class="flex mr-20 md:mr-0">
          <img src="/assets/icon/icons8-mail-24.png" class="w-5 h-5 mt-2" />
          <div class="p-2 text-sm">info@tobank.ir</div>
        </div>
      </div>
      <div class="m-10">
        <p class="font-bold text-sm p-4 md:mt-10">لینک‌های مهم</p>
        <div class="p-2 text-sm">گردش پی</div>
      </div>
      <div class="m-10">
        <p class="font-bold text-sm p-4 md:mt-10">دسترسی سریع</p>
        <div class="p-2 text-sm">قوانین و مقررات</div>
        <div class="p-2 text-sm">سوالات متداول</div>
        <div class="p-2 text-sm">تماس با ما</div>
      </div>
      <div class="m-10">
        <p class="font-bold text-sm basis-1/4 mt-14 md:mr-20">مجوز‌‌های ما</p>
        <div class="flex pt-10 mr-20">
          <img src="/assets/img/logo.png" class="w-20" />
          <img src="/assets/img/Group%2010387@2x.png" class="w-20 mr-5" />
        </div>
      </div>
    </div>
  </div>
  <div class="p-9 mr-6 ml-6 bg-white rounded-t-lg">
    <div class="grid md:flex">
      <p class="font-normal text-sm px-4 py-2 mx-8">
        ما را در شبکه های اجتماعی دنبال کنید
      </p>
      <div class="flex p-2">
        <div class="flex">
          <img
            src="/assets/icon/icons8-instagram-24.png"
            class="w-5 h-5 md:mr-28 md:ml-4"
          />
          <a href="" class="font-normal text-slate-700">
            <p class="text-sm">بانک گردشگری</p>
          </a>
        </div>
        <div class="flex p-2 mr-2">
          <img
            src="/assets/icon/icons8-instagram-24.png"
            class="w-5 h-5 md:mr-10 md:ml-4"
          />
          <a href=""
            ><p class="font-normal text-slate-700 text-sm">TOBANK</p></a
          >
        </div>
      </div>
      <div class="flex flex-row mr-20">
        <a href="" class="flex">
          <p
            class="font-normal text-black text-xs hover:text-red-600 pt-3 pl-2 md:pr-28"
          >
            قدرت گرفته از
          </p>
          <img
            src="/assets/img/لوگوی%20گردش%20پی@2x.svg"
            class="w-24 h-10 mb-10"
          />
        </a>
      </div>
    </div>
    <div class="self-end text-center text-xs pt-2">
      کلیه حقوق این وب‌سایت متعلق به شرکت ایده پرداز دانش نوین آرشام است.
    </div>
  </div>
</div>
