<div class="flex flex-row m-16 p-12">
  <div class="basis-1/2">
    <img src="/assets/img/Group%2010421.webp" alt="" class="w-auto h-full" />

    <br />
  </div>
  <div class="basis-1/2 self-center">
    <div class="flex flex-row">
      <div class="font-normal text-center">
        <p class="font-bold text-3xl">انتخاب رنگ دلخواه شما</p>
        <br />
        <div class="text-md font-bold mb-20">
          <p>علاوه بر کارت‌های متنوع بانک گردشگری، رنگ</p>
          <p>کارت بانکی خودتون رو نیز انتخاب کنید.</p>
        </div>
        <img src="/assets/img/رنگ%20کارت%20های%20بانکی.webp" />
      </div>
    </div>
  </div>
</div>
