<div class="grid md:flex flex-row md:pr-28">
  <div class="self-center text-center md:text-left">
    <div class="flex flex-row">
      <div class="font-normal text-center">
        <p class="font-bold text-xl">انتخاب رنگ دلخواه شما</p>
        <br />
        <div class="text-xl text-gray-500 pt-5 md:pr-6">
          <p>علاوه بر کارت‌های متنوع بانک گردشگری، رنگ</p>
          <p>کارت بانکی خودتون رو نیز انتخاب کنید.</p>
        </div>
        <img
          src="/assets/img/رنگ%20کارت%20های%20بانکی.webp"
          class="mr-16 mt-10"
        />
      </div>
    </div>
  </div>
  <div class="md:pr-20 md:-ml-28">
    <img src="/assets/img/Group%2010421.webp" alt="" class="md:w-5/6" />

    <br />
  </div>
</div>
