<nav
  class="pt-8 pb-8 flex flex-row items-center justify-between space-x-3 bg-white p-6 mb-3"
>
  <a class="w-32">
    <img src="/assets/img/tobank.logo.jpg" class="hidden lg:flex" alt="" />
  </a>

  <div class="block lg:hidden self-start -mb-28">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="flex drawer-content">
      <label for="my-drawer-4" class="drawer-button btn bg-red-600">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20">
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </label>
      <img
        src="/assets/img/tobank.logo.jpg"
        class="lg:hidden w-28 h-15 mr-40"
      />
    </div>

    <div class="drawer-side -mb-44 md:-mr-10">
      <label for="my-drawer-4" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 bg-white text-base-content">
        <li>
          <a
            href=""
            class="hover:bg-red-300 hover:border-l-4 hover:border-l-red-700"
            >خانه</a
          >
        </li>
        <li tabindex="0">
          <div class="dropdown dropdown-hover">
            <label tabindex="0" class="m-1 bg-white text-black border-white"
              >آموزش </label
            ><img src="/assets/icon/icons8-expand-arrow-24.png" />
            <ul
              tabindex="0"
              class="dropdown-content menu p-2 shadow bg-white w-52"
            >
              <li><a>ویدیوهای آموزشی</a></li>
              <li><a>سوالات متداول</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a
            href="https://giftcard.tobank.ir/auth/verify"
            class="hover:bg-red-300 hover:border-l-4 hover:border-l-red-700"
            >کارت هدیه</a
          >
        </li>
        <li>
          <a
            href=""
            class="hover:bg-red-300 hover:border-l-4 hover:border-l-red-700"
            >قوانین و مقررات</a
          >
        </li>
        <li>
          <a
            href=""
            class="hover:bg-red-300 hover:border-l-4 hover:border-l-red-700"
          >
            درباره ما</a
          >
        </li>
        <li>
          <a
            href=""
            class="hover:bg-red-300 hover:border-l-4 hover:border-l-red-700"
            >الان بخر بعدا پرداخت کن</a
          >
        </li>
        <li>
          <a>
            <button class="btn btn-wide">دانلود TOBANK</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="hidden lg:text-sm lg:font-medium lg:flex lg:flex-grow">
    <a
      href="#"
      class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-red-600 mr-4 ml-4 px-4"
    >
      خانه
    </a>

    <div class="dropdown dropdown-hover flex">
      <label tabindex="0" class="m-1 bg-white text-black border-white w-10"
        >آموزش </label
      ><img
        src="/assets/icon/icons8-expand-arrow-24.png"
        class="w-5 h-4 pr-2 mt-2"
      />
      <ul
        tabindex="0"
        class="dropdown-content menu p-2 shadow bg-white w-44 mt-10"
      >
        <li><a>ویدیوهای آموزشی</a></li>
        <li><a>سوالات متداول</a></li>
      </ul>
    </div>
    <a
      href="https://giftcard.tobank.ir/auth/verify"
      class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-red-600 mr-4 px-4"
    >
      کارت هدیه</a
    >
    <a
      href="#"
      class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-red-600 mr-4 px-4"
      >قوانین و مقررات
    </a>
    <a
      href="#"
      class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-red-600 mr-4 px-4"
    >
      درباره ما
    </a>
    <a
      href="#"
      class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-red-600 mr-4 px-4"
    >
      الان بخر بعدا پرداخت کن !!
    </a>
  </div>
</nav>
