<nav class="flex space-x-4 p-9">
  <a
    href="/dashboard"
    class="font-normal px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-red-600"
    >خانه</a
  >
  <a
    href="/team"
    class="font-normal px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-red-600"
    >آموزش</a
  >
  <a
    href="/projects"
    class="font-normal px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-red-600"
    >کارت هدیه</a
  >
  <a
    href="/reports"
    class="font-normal px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-red-600"
    >قوانین و مقررات</a
  >
  <a
    href="/dashboard"
    class="font-normal px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-red-600"
    >درباره ما</a
  >
  <a
    href="/dashboard"
    class="font-normal px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-red-600"
    >الان بخر بعدا پرداخت کن</a
  >
</nav>
